<h1>rewilding rocks</h1>
<p>really, it does</p>

<footer>Non-Possessive Statement - 2019 – Matt J. Sorenson</footer>
<p>Ideas belong not to individuals; and are no one's to copyright.</p>
<p>And non-possessiveness requires no central authority nor enforcement; Copyrights are a contrived limitation to a thriving race.</p>
